body{
	font-family: arial;
}

.hero {
	display: flex;
	width: 100%;
	text-align: center;
	height: 800px;
	background-image: url("../images/kits.png");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-size: 100%;
}

nav{
	width: 100%;
	background-color: #ffffff;
	z-index: 1;
	visibility: visible;
	position: fixed;
}

nav p{
	display: inline-block;
	padding: 0 5%;
}

.lns{
	display: flex;
	flex-direction: row;
	margin-right: 2.5%;
	width: 60%;
}

.fi{
	border: solid 1px;
	margin: 1%;
}

.log{
	padding-left: 1%;
	float: left;
}

h1{
	text-transform: uppercase;
}

.herotext{
	width: 20%;
	text-align: center;
	position: relative;
	top: 80%;
	left: 40%;
	vertical-align: middle;
	color: #ffffff;
}
