body{
	font-family: arial;
}

nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1px 1%;
	width: 100%;
	background-color: #ffffff;
	z-index: 1;
	visibility: visible;
	position: fixed;
}

.log{
	text-transform: uppercase;
}

.fi{
	padding: 1% 5%;
	display: inline-block;
	border: solid 1px;
	margin: 1%;
}

.hero {
	display: flex;
	height: 800px;
	background: url("../images/kits.png") no-repeat center;
	position: relative;
	background-size: cover;
}


.herotext{
	border: solid 5px #ffffff;
	background: #eeeeee;
	padding: 1%;
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%,-50%);
	color: #444444;
}
